.sensor {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 4rem;
    border-radius: 0.6rem;
    background: rgba(200, 238, 253, 0.5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }

  &__status {
    &--value {
      font-weight: 700;
      &0 {
        color: darkgreen;
      }

      &1 {
        color: forestgreen;
      }

      &2 {
        color: yellow;
      }

      &3 {
        color: orange;
      }

      &4 {
        color: crimson;
      }

      &5 {
        color: darkred;
      }
    }
  }

  &__icon {
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: 700px) {
  .quality {
    &__location {
      text-align: center;
    }

    &__date {
      text-align: center;
    }
  }
}
