.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  min-height: 20vh;
  margin-top: 6rem;
  z-index: 0;
}
